body {
    font-family: 'PT Sans', sans-serif;
    background:
    /*#f4f4f4*/
    
    url(../images/bg-body.gif);
    color: #777;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.starter-template {
    padding-top: 20px;
}

.nav-pills>li {
    padding-top: 30px;
}

.items img {
    width: 100%;
    height: 350px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.items {
    height: 350px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background: transparent;
    color: #DD1B1B;
    border-bottom: 4px solid #DD1B1B;
}

.set-call.pull-right h4 {
    margin-top: 5px;
}

select.selectpicker {
    width: 100%;
    height: 33px;
}

.nav>li>a:focus,
.nav>li>a:hover {
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    color: #DD1B1B;
    border-bottom: 4px solid #DD1B1B;
}

span.radio-btn {
    padding-right: 20px;
    padding-left: 5px;
}

.form-control {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.home-cont h4 {
    text-align: center;
    font-size: 18px;
    /* font-style: italic; */
    
    font-weight: 500;
    background: rgb(221, 27, 27);
    color: white;
    padding: 14px;
    margin-top: -12px;
    font-family: 'PT Sans', sans-serif;
}

.home-cont p {
    text-align: justify;
    font-size: 14px;
    line-height: 130%;
    font-weight: 100;
}

.bgd-color {
    background: rgba(255, 255, 255, 0.6);
    padding: 12px 0;
}

.bgd-color {}

.home-cont {
    /* padding: 25px 54px; */
    /* -webkit-box-shadow: 0 8px 6px -6px #939393; */
    
    -moz-box-shadow: 0 8px 6px -6px #939393;
    /* box-shadow: 6px 6px 17px 1px #939393; */
    
    height: 550px;
}

.bg3 {
    /* background: url('../images/bckimg.jpg') no-repeat; */
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    border: 1px solid rgb(221, 27, 27);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg1 {
    /* background: url('../images/About-us-image.jpg') no-repeat; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 1px solid rgb(221, 27, 27);
}

.bg2 {
    /* background: url('../images/whychoose.png') no-repeat; */
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    border: 1px solid rgb(221, 27, 27);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* border-radius: 11px; */
}

.input-home.text-center {
    padding-top: 30px;
    padding-bottom: 8px;
}

.form-group h4 {
    margin: -11px;
    background: rgb(221, 27, 27);
    padding: 13px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
}

.call-us input {
    margin-left: 10px;
    padding: 3px 11px;
    text-transform: capitalize;
}

.form-group {
    padding: 7px;
}

.submit {
    width: 100px;
    height: 40px;
    margin: 0px;
    background: rgb(221, 27, 27) url(../images/submit.jpg) repeat-x;
    border: 1px solid rgb(221, 27, 27);
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-weight: 400;
    text-transform: uppercase !important;
}

.nav>li>a {
    text-decoration: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #000000;
    font-weight: 600;
}

ul.nav.nav-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.call-us {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgb(221, 27, 27);
    height: 77px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0px 15px;
    margin-top: 20px;
}

.input-home {
    padding: 18px 0;
}

.home-main {
    margin: 80px auto;
}

.form-group {
    border: 1px solid rgb(221, 27, 27);
    padding: 10px;
    color: #747474;
    background: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
}

.footer {
    background: url("../images/black%20and%20white.jpg")repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul.nav.nav-footer li a {
    color: #fff;
    background: #000;
    border: 0px;
}

.footer1 {
    padding: 20px 0;
    color: #FFFFFF;
    background: #DD1B1B;
}

.footer1 {}

.icons.pull-right i {
    font-size: 18px;
    padding-right: 15px;
}

nav.navbar {
    height: 90px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-brand>img {
    display: block;
    margin: 10px 0px 0px 0px;
    width: 300px;
}

img {}

footer {
    margin-top: 40px;
}

.call-set {
    margin: 0px;
    padding-top: 15px;
}

.set-call {
    padding-top: 22px;
}

.home-cont a {
    color: #DD1B1B;
    padding: 0px 5px;
    font-weight: 400;
}

.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left !important;
}

.icons.pull-right i {
    background: rgb(255, 255, 255);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    color: rgba(221, 27, 27, 0.72);
    padding: 7px;
}

ul.nav.nav-footer li:hover a {
    color: #FC5252;
}

.form-group label {
    color: #000;
    font-weight: 400;
}

.body-cont {
    padding: 25px 35px;
}

.input-home a {
    color: #FC5252;
}

.cont-abtus {
    padding: 20px 0;
    text-align: justify;
}

.service-contmain {
    padding: 20px 0;
}

.img-service img {
    width: 100%;
}

.call-us img {
    padding-right: 10px;
}

.bgourservices {
    background: url('../images/banner_red.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bgourservices h2 {
    color: #fff;
    font-size: 32px;
    font-family: serif;
    position: relative;
    bottom: 16px;
}

.content {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    float: left;
    margin-left: 20px;
    padding: 15px 25px;
    width: 80%;
    border-width: 1px 4px 4px 3px;
    border-style: solid;
    border-color: #C38C8C;
    background-color: #FFFFFF;
    color: #333;
    margin-top: 20px;
}

.content:before {
    border-top: 16px solid transparent;
    border-right: 16px solid #C38C8C;
    border-bottom: 16px solid transparent;
    top: 49px;
    content: '';
    position: absolute;
    left: -18px;
}

.contents {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    float: left;
    margin-left: 20px;
    padding: 15px 25px;
    width: 80%;
    border-width: 1px 4px 4px 3px;
    border-style: solid;
    border-color: #C38C8C;
    background-color: #FFFFFF;
    color: #333;
    margin-top: 20px;
}

.contents:before {
    border-top: 16px solid transparent;
    border-left: 16px solid #C38C8C;
    border-bottom: 16px solid transparent;
    top: 49px;
    content: '';
    position: absolute;
    right: -18px;
    width: 0;
    height: 0;
}

.content h3,
.contents h3 {
    font: 23px "Satisfy";
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.content b,
.contents b {
    display: block;
    color: #75280c;
    font: italic normal 17px Georgia;
}

.infos {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    padding: 3px;
    width: 130px;
    height: 130px;
    border: 5px solid #C38C8C;
    margin-top: 25px;
}

.testimonals .row {
    margin: 0px;
}

.content p {
    margin: 10px 0 0 0;
    font-size: 15px;
    line-height: 1.7em;
}

.infos img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 100%;
}

.service1 h1 {
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    font-style: italic;
    margin: 0px;
    padding: 10px 0px;
    width: 95%;
    border-bottom: 1px dashed #BDBDBD;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.service1 {
    margin-right: 35px;
    padding: 10px 10px 10px 0px;
}

.service1 ul li {
    font-size: 13px;
    line-height: 18px;
    margin: 0px;
    padding: 9px 0px 9px 20px;
    color: #666666;
    background: url('../images/diamond.png') no-repeat left 12px;
    list-style: none;
}

.cont-set {
    padding-top: 40px;
}

.cont-set p {
    font-size: 15px;
    padding: 0 25px;
}

.service-cont h4 {
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(176, 53, 38);
    font-family: pt sans;
}

.img-service {
    border: 2px solid rgb(221, 27, 27);
    padding: 5px;
}

.basic img {
    height: 175px;
    width: 290px;
    text-align: center;
    overflow: hidden;
    border: 1px solid rgb(221, 27, 27);
    padding: 5px;
}

.basic {
    padding-top: 50px;
}

.pakages {
    padding-top: 20px;
}

.row.word-set p {
    font-weight: 400;
    font-size: 18px;
}

.row.word-set {
    text-align: center;
    border: 1px solid rgb(221, 27, 27);
    padding: 16px 0px 5px 0px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: rgb(221, 27, 27);
    margin-top: 53px;
}

.first p {
    /* Safari, Chrome and Opera > 12.1 */
    /* Firefox < 16 */
    
    -ms-animation: fadein 10s;
    /* Internet Explorer */
    /* Opera < 12.1 */
    
    -webkit-animation: fadein 10s;
    
    -moz-animation: fadein 10s;
    
    -o-animation: fadein 10s;
    
    animation: fadein 10s;
}

.scnd p {
    /* Safari, Chrome and Opera > 12.1 */
    /* Firefox < 16 */
    
    -ms-animation: fadein 20s;
    /* Internet Explorer */
    /* Opera < 12.1 */
    
    -webkit-animation: fadein 20s;
    
    -moz-animation: fadein 20s;
    
    -o-animation: fadein 20s;
    
    animation: fadein 20s;
}

.fourth p {
    /* Safari, Chrome and Opera > 12.1 */
    /* Firefox < 16 */
    
    -ms-animation: fadein 30s;
    /* Internet Explorer */
    /* Opera < 12.1 */
    
    -webkit-animation: fadein 30s;
    
    -moz-animation: fadein 30s;
    
    -o-animation: fadein 30s;
    
    animation: fadein 30s;
}

.fifth p {
    /* Safari, Chrome and Opera > 12.1 */
    /* Firefox < 16 */
    
    -ms-animation: fadein 40s;
    /* Internet Explorer */
    /* Opera < 12.1 */
    
    -webkit-animation: fadein 40s;
    
    -moz-animation: fadein 40s;
    
    -o-animation: fadein 40s;
    
    animation: fadein 40s;
}

.details {
    padding: 20px;
    -webkit-box-shadow: 1px 0px 0px 2px #ddd;
    -moz-box-shadow: 1px 0px 0px 2px #ddd;
    box-shadow: 1px 0px 0px 2px #ddd;
    margin: 20px;
}

.body-conts {
    height: 240px;
}

.img-abt img {
    width: 100%;
    margin-top: -10px;
    height: 200px;
}

.body-cont ul li {
    font-size: 14px;
    text-align: justify;
    font-weight: 100;
    background: url('../images/arrowli.png') no-repeat left 15px;
    padding-left: 25px;
    padding-top: 10px;
    list-style-type: none;
    color: #777;
}

.body-cont ul {
    padding-left: 0px;
}

.profile-tab {
    padding-top: 30px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: rgba(255, 255, 255, 0.26);
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

p {
    color: #777;
}

.main-ul ul li {
    background: url('../images/arrowli.png') no-repeat left 5px;
    padding-left: 25px;
}

.content-org ul li {
    list-style: none;
}

.profileid
{
      padding-top: 12px;
}
p.qoute {
    font-size: 160px !important;
    text-align: center;
    margin: -35px;
    color: rgba(201, 94, 80, 1) !important;
    padding-right: 20px;
}
.bg-testimonals
{
/*
background: url(../images/testimonals.jpg)no-repeat center;
    background-size: cover;
*/

color: #fff;
padding: 0 35px;
    margin-top: 20px;
padding-right: 9px;
background: #962C1F;

padding-top: 35px;

}
p.pull-right.thk-you {
  padding-right: 20px;
  padding-top: 0px;
}

p.pull-right.thk-you {}
.bg-testimonals p {
  color: #fff;
  font-size: 16px;
  font-style: italic;
}

.bg-testimonals h4 {
  padding-bottom: 20px;
}
.testimonalss
{
    padding: 20px;
}